<html>
    <h2>Registrar</h2>
    <form action="/show" method="POST">
    <input type="text" placeholder="Nome" name="name">
    <input type="text" placeholder="Sobrenome" name="surname">
    <button type="submit">Submit</button>
    </form>
</html>